
* {
    box-sizing: border-box;
}

.message-form {
    /* background-color: aquamarine; */
    position: absolute;
    bottom: 0;
    right: 0;

    /* border:2px solid red; */

    width: 100%;
    /* padding-top: 60px; */
    margin-top: auto;

}

.input-con {
    /* border:1px solid gray; */
    /* width: 600px; */
    width: 100%;
    align-self: center;
    justify-self: center;
    display: flex;
    position: relative;

}

.input {
    font-size: 1.125rem;
    border:none;
    padding: 30px 25% 30px 30px;
    height: 60px;
    width: 100%;
}

.input-con,
.input {
    border-radius: 30px;
}
.button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 20px;
    border:none;
    font-size: 1.1em;
    width: 20%;
    height: 40px;
    background-color: rgb(125, 125, 239);
    color: white;

}

