
* {
    box-sizing: border-box;
}
/* .chat-engine-con {
    border:2px solid red;
} */

.chat-feed {
    /* border:2px solid red; */
    overflow-y: auto;
    /* scro */
    overflow-x:hidden;
    background-color: rgb(24, 60, 60);
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    padding: 7em .5em 0;
}

.message-form-margin{
    margin-top: 140px;
}

.title-con {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2em;
    background-color: rgb(46, 9, 18);
    color: white;
    border-bottom: 1px solid gray;
    border-radius: 8px;
}
.chat-title{
     /* border:2px solid red; */
    font-weight: 600;
}
.chat-subtitle {
    /* border:2px solid red; */
    margin: auto;
    display: flex;
    gap: 5px;
    align-items: center;
}
.circular-short-name {
    display: grid;
    place-items: center;
    background-color:white;
    color: #222;
    border-radius: 50%;
    width: 30px;
    height: 30px;

}

.my-message {
    /* margin-left: auto; */
    float: right;
    background-color: rgb(70, 111, 213);
    color: white;
    display: grid;
    place-items: center;
}
.their-message {
    /* margin-right: auto; */
    /* float: left; */
    background-color: rgb(97, 24, 139);
    color: white;
}

.my-message,
.their-message {
 /* overflow:auto; */
 /* display: block; */
    max-width: 80%;
    /* width: 50%; */
    width: fit-content;
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 1em;
    
    

}
p{margin:0}